<section class="section2">
    <div class="container d-lg-flex align-items-center justify-content-between">
        <div class="container">
            <div class="wrapper">
              <div class=""><img src="../../assets/images/profile.jpeg" alt="" class=" img-fluid rounded-circle"> </div>
              <h1> Zaw Lynn Htet</h1>
              <p class="greet-text">Lorem ipsum dolor sit amet, <br/>
                consectetur adipiscing elit.</p>
             </div>
             <div class="button-wrapper"> 
             <button class="btn outline">DETAILS</button>
               <button class="btn fill">CONTACT</button>
             </div>
        </div>
           

        <div class="about">
            <h3>About me</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quaerat, ipsam dolore a obcaecati nesciunt ut delectus quibusdam saepe odio error repellendus, natus vitae laudantium alias, qui porro rem dolorem.</p>
        </div>
    </div>
</section>