<nav class="navbar navbar-expand-lg bg-dark navbar-dark position-sticky top-0">
  <div class="container">
    <a class="navbar-brand logo" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" style="--i:1;" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="--i:2;" routerLink="/about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="--i:3;" routerLink="/project" routerLinkActive="active-link">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="--i:4;" routerLink="/contact" routerLinkActive="active-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>