<section class="section3">
    <h3 class="text-center text-white">Project Lists</h3>

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:1;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Movie</h6>
                            <div class="about">
                                <span><a href="https://multi-movie.netlify.app/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/movie.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>
            <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:2;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Clock Web</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/clock-web/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/clock-web.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>
            <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:3;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Rock-paper-scissor</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/rock-paper-scissor/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/rock-paper-scissor.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>
            <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:4;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Userlogin-form</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/user-login-form/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/user-login-form.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>
            
              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:5;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Digital-clock-timer</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/digital-clock-timer/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/digital-clock-timer.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:6;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Number-counting</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/number-counting/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/number-counting.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:7;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Login-form-design</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/login-form-design/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/login-form-design.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:8;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Coffee-bar</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/coffee-bar/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/coffee-bar.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:9;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Web-page</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/webpage/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/webpage.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:10;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Portfolio</h6>
                            <div class="about">
                                <span><a href="https://zawlynnhtet.github.io/portfolio/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/portfolio.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:11;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Note-keep</h6>
                            <div class="about">
                                <span><a href="https://track-note.netlify.app/">web-link</a></span>
                                <span><a href="https://github.com/ZawLynnHtet/notepad.git">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

              <div class="col-md"><ul class="list-group mt-5 text-white" style="--i:12;">
                <li class="list-group-item d-flex justify-content-between align-content-center">
      
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png" width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">Biography</h6>
                            <div class="about">
                                <span><a href="https://biography-portfolio.netlify.app/">web-link</a></span>
                                <span><a href="">code-link</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        
                        <input type="checkbox" name="a">
                    </div>
                </li>
              </ul>
              </div>

        </div>
		
	</div>
</section>