<section class="section1 text-sm-start text-white">
    <div class="container d-lg-flex align-items-center justify-content-between">
        <div class="banner-text">
            <h4 class="slide-right">Hello, I'm Zaw Lynn Htet</h4>
            <h1 class="slide-right">& Professional <span class="text-primary skills"></span></h1>
            <p class="slide-top">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi cum veritatis necessitatibus ipsa et nam repellat in tempora architecto alias ipsum maiores saepe, maxime quo perspiciatis, impedit tempore consequuntur. Molestias.</p>

            <div class="social-media">
                <a href="" style="--i:5;"><i class='bx bxl-twitter'></i></a>
                <a href="" style="--i:6;"><i class='bx bxl-instagram-alt'></i></a>
                <a href="" style="--i:7;"><i class='bx bxl-facebook'></i></a>
                <a href="" style="--i:8;"><i class='bx bxl-linkedin' ></i></a>
                <a href="" style="--i:9;"><i class='bx bxl-github'></i></a>
            </div>

            <button><a href="">Hire me</a></button>
        </div>
        <div>
            <img src="../../assets/images/myprofile.png" alt="profile" class="myimage">
        </div>
    </div>

    <div class="container mt-4 text-center">
        <h2 class="mb-4 skills">My <span class="text-info">Skills  <i class="bi bi-tools"></i></span></h2>
        <div class="row text-center gy-3">
            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <i class='bx bxl-python h1 text-dark'></i>
                        <h3 class="card-title mb-3">Python</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur saepe excepturi ducimus nobis ullam tempore repudiandae, eius voluptatum enim.</p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <i class='bx bxl-javascript h1 text-dark' ></i>
                        <h3 class="card-title mb-3">Javascript</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur saepe excepturi ducimus nobis ullam tempore repudiandae, eius voluptatum enim.</p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <i class='bx bxl-angular h1 text-dark' ></i>
                        <h3 class="card-title mb-3">Angular</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur saepe excepturi ducimus nobis ullam tempore repudiandae, eius voluptatum enim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>